/* Font Import */
/* Inter Font */ @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
 /* Raleway Font */ @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 /* Eliminated default styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* Define primary button */
 .btn-primary {
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #fff;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
 }

/* Header Section */
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: repeat;
    padding-bottom: 152px;
}
header .navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px 0;
}
header .navigation .logo h1 {
    font-size: 34px;
    font-family: "Inter";
    font-weight: 800;
    color: #4E47FF;
}
header .navigation .signup-btn {
    width: 132px;
    height: 48px;
}
header .banner {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .banner h1 {
    font-family: "Raleway";
    font-size: 65px;
    text-align: center;
}
header .banner .banner-btn {
    width: 174px;
    height: 48px;
    margin-top: 37px;
}

/* Main Body */
main {
    display: flex;
    flex-direction: column;
    padding: 0 140px;
}

/* Action Section */
main .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
main .action .action-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Raleway";
}
main .action .action-left .action-btn {
    width: 230px;
    height: 48px;
}
main .action .action-right {
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

/* Productive User Section */
main .productive-user {
    padding: 50px 140px;
    margin-top: 116px;
    width: 100%;
    border-radius: 24px;
    background-color: rgb(78, 71, 255, 0.1);
}
main .productive-user .productive-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
main .productive-user .productive-user-container .productive-user-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 158px;
    font-family: "Inter";
    text-align: center;
}
main .productive-user .productive-user-container .productive-user-items h1 {
    font-size: 98px;
    color: #4E47FF;
}
main .productive-user .productive-user-container .productive-user-items h6 {
    font-size: 24px;
    font-weight: 200;
}

/* User Feedback Section */
main .user-feedback {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: "Raleway";
}
main .user-feedback .feedback-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main .user-feedback .feedback-container .feedback-box {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fff;
    border-radius: 14px;
    border: 2px solid #f2eded;
}

/* Get Started Section */
main .get-started {
    margin-top: 136px;
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Raleway";
    background-color: #fff;
}
main .get-started .get-started-btn {
    width: 195px;
    height: 48px;
}